/* Hero */
.title {
  font-size: 4.2rem;
  text-align: center;
  margin-bottom: 6rem;
}
.heading {
  padding-right: 20px;
  padding-bottom: 10px;
}
.link1 {
  margin-right: 15px;
}
.heroImage {
  position: relative;
}
.reactLogo {
  position: absolute;
  z-index: 2;
}
.jsLogo {
  position: absolute;
  left: 155px;
  top: -49px;
}